<h1><%= encabezado %> </h1>

<div style="text-align:center;margin:0 auto;width:100%;">
<div class="js-video">
  <iframe width="25%" height="50%" src="https://www.youtube.com/embed/TC_VmgZ84dE?autoplay=1" frameborder="0" allowfullscreen style="float:left; margin:10px 5px 15px 10px;"></iframe>
</div>
<div style="width: 30%; float: left;margin:10px 5px 5px 10px;text-align:justify;"><b>Nombre del Autor: </b>Arturo Sáenz<p><b>País: </b>España</p></div>
<img src="/foto.jpg" alt="A Saenz" style="float:right; margin:10px 15px 5px 10px;">
<div style="clear: both;"/>
</div>