<select id="tema" name="quiz[tema]">
	<option value="Otro">Otro</option>
	<option value="Humanidades">Humanidades</option>
	<option value="Ocio">Ocio</option>
	<option value="Ciencia">Ciencia</option>
	<option value="Tecnologia">Tecnología</option>
	<option value="Geografia">Geografia</option>
	<option value="Historia">Historia</option>
</select><p>